@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sriracha&display=swap');

header ul li{
  @apply px-2;
}

.bg-primary{
  background:rgb(85 81 227)
}

.bg-secondary{
  background-color: rgb(59, 62, 157)
}
.mobile-nav{
  @apply fixed top-10 left-0.5 bg-gray-800 w-full h-1/4 ;

}

.mobile-nav  li{
  @apply w-full h-full text-center border-b-2;
}
.image{
margin-right: 180px;
width: 300px;
height: 350px;
border-radius: 30%;
object-fit: cover;

}
section h1{
  font-family: Sriracha;
}

.project{
  @apply absolute left-0 right-0 bottom-0 top-0 opacity-0 duration-500 hover:opacity-100;
}
.btn{
  @apply   px-5 py-2 hover:border-2 rounded;
}

html{
  scroll-behavior: smooth;
}